name: All Platform Build

on:
  workflow_dispatch: # 手动触发
  push:
    branches: [ main ]

jobs:
  # ---------------------------------------------------
  # 1. Android 构建任务
  # ---------------------------------------------------
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2.13.0
        with:
          flutter-version: 3.24.5 # 使用全局版本变量
          cache: false
          
      - name: Install dependencies
        run: flutter pub get

      - name: Check
        run: |
          flutter doctor -v
          flutter --version        
        
      - name: Build APK
        run: flutter build apk --release

      - name: Upload Android Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
