name: Build Terminal3

on:
  workflow_dispatch: # 手动触发
  push:
    branches: [ main ]

jobs:
  # ---------------------------------------------------
  # 1. Android 构建任务
  # ---------------------------------------------------

  build-arm64:
    # 指定使用 Docker 容器作为运行环境
    runs-on: ubuntu-latest
    container:
      # 使用 Cirrus Labs 维护的 Flutter ARM 镜像
      image: ghcr.io/cirruslabs/flutter:3.25.0
    steps:
      - uses: actions/checkout@v4
      - run: flutter --version # 此时应该显示正确的ARM版本和Dart 3.17+
      - run: flutter pub get
      - run: flutter build apk --release --target-platform=android-arm64

  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2.13.0
        with:
          flutter-version: 3.38.3 # 使用全局版本变量
          cache: false

      - name: Check
        run: |
          flutter doctor -v
          flutter --version       
          
      - name: Install dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release

      - name: Upload Android Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
